choice
	prompt "Board type"
	depends on BOARD_HERCULES
	default BOARD_HERCULES_V10

config BOARD_HERCULES_V10
       bool "Hercules V10"
       depends on BOARD_HERCULES

endchoice

config BOARD_NAME
	string
	default "hercules_v10" if BOARD_HERCULES_V10
