choice
	prompt "Board type"
	depends on BOARD_BOOTES
	default BOARD_BOOTES_V10

config BOARD_BOOTES_V10
       bool "Bootes V10"
       depends on BOARD_BOOTES

endchoice

config BOARD_NAME
	string
	default "bootes_v10" if BOARD_BOOTES_V10
