choice
	prompt "Board type"
	depends on PLATFORM_ISVP
	default BOARD_MANGO

config BOARD_MANGO
       bool "Mango"
       depends on PLATFORM_ISVP

endchoice

config BOARD_NAME
	string
	default "mango" if BOARD_MANGO
