choice
	prompt "Board type"
	depends on PLATFORM_T20_ISVP
	default BOARD_BULL

config BOARD_BULL
       bool "bull"
       depends on PLATFORM_T20_ISVP

endchoice

config BOARD_NAME
	string
	default "bull" if BOARD_BULL
